{% extends "pitapp/base_form.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Sign up" %}{% endblock %}

{% block content-title %} Minions ipsum {% endblock %}

{% block text %}
    <p>
        Minions ipsum ti aamoo! Voluptate velit aaaaaah consequat. Ex exercitation laboris jeje aliqua exercitation ex tatata bala tu nostrud. Jiji tempor sed bananaaaa aaaaaah enim minim belloo! Enim. Cillum bee do bee do bee do aliqua nostrud duis baboiii qui baboiii. Officia elit enim incididunt et daa incididunt aute. Para tú magna chasy reprehenderit exercitation voluptate commodo minim belloo! Officia hana dul sae.
    </p>
{% endblock %}

{% block titleForm %} {% trans 'Sign up' %} {% endblock %}

{% block textButton %} {% trans 'Sign up' %} {% endblock %}