{% extends "pitapp/base.html" %}

{% block content %}
<div class="row ">
    <div class="col-lg-6 col-md-6">
    <h1>Minions ipsum</h1>
    <p>
    Minions ipsum ti aamoo! Voluptate velit aaaaaah consequat. Ex exercitation laboris jeje aliqua exercitation ex tatata bala tu nostrud. Jiji tempor sed bananaaaa aaaaaah enim minim belloo! Enim. Cillum bee do bee do bee do aliqua nostrud duis baboiii qui baboiii. Officia elit enim incididunt et daa incididunt aute. Para tú magna chasy reprehenderit exercitation voluptate commodo minim belloo! Officia hana dul sae.
    </p>
    </div>
    <div class="col-lg-6 col-md-6">
    	<h1>Sign Up</h1>
		<form role="form" id="formSignIn" action="" method="POST">
		{% csrf_token %}
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email</label>
		    <input type="email" class="form-control" name="email" id="email" placeholder="your-email@example.com">
		  	{{ form.email.errors }}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
		  	{{ form.password.errors }}
		  </div>
		  <button type="submit" class="btn btn-default">Sign In</button>
		</form>
    </div>
</div>
{% endblock %}