/* Snippet "Dropdown userlist plus administration fully responsive"
        http://bootsnipp.com/snippets/featured/dropdown-userlist-plus-administration
*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    /*margin: 13px 0;
    padding: 5px;*/
    height: 100%;
}

.addfollower{
    padding-top:10px;
    padding-bottom:5px;
}

.addfollower a{
    margin-left:1px;
}

.dropdown-user:hover,.addfollower:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

/* End Snippet */
